* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4d515a;
}
header {
    background:rgb(7, 5, 8);
}
header > h1 {
    padding: 20px;
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.score-board {
    
    margin: 20px auto;
    padding: 15px 25px;
    border: 5px solid white;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    color: rgb(201, 245, 245);
    font-size: 45px;
    font-family: sans-serif;
    position: relative;
}
.badge {
background-color:rgb(56, 56, 53);
font-size: 20px;
padding: 4px 10px;
font-family: sans-serif;
}
#user-label{
    position: absolute;
    top: 27px;
    left: -32px;
    border-radius: 20px;
}
#computer-label{
    position: absolute;
    top: 27px;
    right: -37px;
    border-radius: 20px;
}
.result {
font-size: 40px;
color:#ffffff;
}
.result > p {
    text-align:center;
    font-weight: bold;
}
img {
    width: 100px;
    height: auto;
    /* transform: rotate(90deg); */
  }
.choices{
    margin-top: 50px,0;
    text-align: center;
}
.choice{
    border: 5px solid white;
    border-radius:50%;
    margin:20px;
    display: inline-block;
    padding: 10px;
    transition: all 0.3ms ease;
}
.choice:hover{
    cursor: pointer;
    background: #252627;
}
#action-message{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
footer{
    padding:15px;
    position:fixed;
    width:100%;
    bottom:0;
    background: rgb(0, 0, 0);
}
footer>p {
    text-align: center;
    color: white;
}

.win-glow {
    border: 5px solid #4dcc7d;
    box-shadow: 0 0 4px #31b43a;
}
.lose-glow {
    border: 5px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}
.tie-glow {
    border: 5px solid #464647;
    box-shadow: 0 0 10px #25292b;
}