* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4d515a;
}
header {
    width: 100%;
    height: auto;
    background:rgb(7, 5, 8);
}
header > h1 {
    padding: 20px;
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.score-board {
    
    margin: 30px auto;
    padding: 15px 25px;
    border: 5px solid white;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    color: rgb(201, 245, 245);
    font-size: 45px;
    font-family: sans-serif;
    position: relative;
}
.badge {
background-color:rgb(56, 56, 53);
font-size: 20px;
padding: 4px 10px;
font-family: sans-serif;
}
#user-label{
    position: absolute;
    top: 27px;
    left: -32px;
    border-radius: 20px;
}
#computer-label{
    position: absolute;
    top: 27px;
    right: -37px;
    border-radius: 20px;
}
.result {
font-size: 1.8rem;
color:#ffffff;
}
.result > p {
    text-align:center;
    font-weight: bold;
}
img {
    width: 4rem;
    height: auto;
    /* transform: rotate(90deg); */
  }
.choices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 50px,0;
    text-align: center;
}
.choice{
    border: 5px solid white;
    border-radius:50%;
    margin:10px;
    padding: 10px;
    transition: all 0.3ms ease;
}
.choice:hover{
    cursor: pointer;
    background: #252627;
}
#action-message{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
footer{
    padding:5px;
    position:fixed;
    width:100%;
    bottom:0;
    background: rgb(0, 0, 0);
}
footer>p {
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    text-decoration:none;
}
.social-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

}

.win-glow {
    border: 5px solid #064920;
    box-shadow: 0 0 4px #08690f;
}
.lose-glow {
    border: 5px solid #ff0008;
    box-shadow: 0 0 10px #d01115;
}
.tie-glow {
    border: 5px solid #464647;
    box-shadow: 0 0 10px #25292b;
}

.fa {
    padding: 15px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-mail {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin{
    background: #007bb5;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-envelope{
      background: #3a3838;
      color: white;
  }
  .fa-github {
      background: #242020;
      color: white;
  }